APP_NAME=Absensi Karyawan
APP_ENV=production
APP_KEY=base64:YOUR_APP_KEY_HERE
APP_DEBUG=false
APP_URL=https://absensi-karyawan-psi.vercel.app
APP_TIMEZONE=Asia/Jakarta
APP_LOCALE=id
APP_CONFIG_CACHE=
APP_ROUTES_CACHE=

LOG_CHANNEL=stderr
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_HOST=YOUR_SUPABASE_DB_HOST
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=YOUR_SUPABASE_DB_USERNAME
DB_PASSWORD=YOUR_SUPABASE_DB_PASSWORD
DB_SCHEMA=public, extensions

SUPABASE_URL=YOUR_SUPABASE_URL
SUPABASE_KEY=YOUR_SUPABASE_PUBLISHABLE_KEY
SUPABASE_SECRET=YOUR_SUPABASE_SECRET_KEY

BROADCAST_DRIVER=log
CACHE_DRIVER=array
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=cookie
SESSION_LIFETIME=120

MAIL_MAILER=smtp
MAIL_FROM_ADDRESS=noreply@absensi-karyawan.app
MAIL_FROM_NAME="${APP_NAME}"

VIEW_COMPILED_PATH=/tmp/storage/framework/views
BOOTSTRAP_CACHE_PATH=/tmp/bootstrap/cache
